In [5]:
import pandas as pd
contracts = pd.read_csv('~/consulting_analysis_vIsuals/data/contracts.csv')
contracts

,contract_id,customer_id,contract_start,contract_term,deposit,monthly_amt
0,1,127,8/17/2019,12,"$53,000.00","$11,600.00"
1,2,119,12/1/2019,22,"$77,000.00","$14,600.00"
2,3,160,5/1/2019,15,"$13,000.00","$22,800.00"
3,4,7,12/8/2019,23,"$56,000.00","$11,400.00"
4,5,144,2/11/2019,7,"$21,000.00","$19,800.00"
...,...,...,...,...,...,...
995,996,57,11/8/2019,15,"$38,000.00","$5,300.00"
996,997,126,1/13/2019,20,"$28,000.00","$16,000.00"
997,998,89,5/8/2019,7,"$73,000.00","$18,400.00"
998,999,52,3/26/2019,7,"$63,000.00","$21,600.00"
999,1000,3,3/19/2019,16,"$23,000.00","$15,700.00"

In [6]:
customers = pd.read_csv('~/consulting_analysis_vIsuals/data/customers.csv')
customers

,id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805
...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166

In [7]:
customers = customers.rename(columns={'id': 'customer_id'})
customers

,customer_id,company,sector,industry,email,address,city,state,zip
0,1,Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,2,Izio,Energy,Oil & Gas Production,farlet1@comcast.net,15360 Village Green Street,Spokane,WA,99252
2,3,Twitterworks,NaN,NaN,alerohan2@ox.ac.uk,29 Hovde Hill,Milwaukee,WI,53234
3,4,Viva,Health Care,Major Pharmaceuticals,wgiovanitti3@nytimes.com,074 Center Place,Topeka,KS,66667
4,5,Jabberstorm,Technology,Computer Software: Prepackaged Software,pscallon4@fc2.com,4 Moose Way,Terre Haute,IN,47805
...,...,...,...,...,...,...,...,...,...
245,246,Livefish,Energy,Oilfield Services/Equipment,gcressy6t@twitter.com,05019 Eastwood Alley,Brooksville,FL,34605
246,247,Katz,NaN,NaN,siacobini6u@fc2.com,6567 Old Shore Center,Omaha,NE,68134
247,248,Yombu,Public Utilities,Natural Gas Distribution,ccandy6v@tumblr.com,6442 Vahlen Avenue,Salt Lake City,UT,84125
248,249,Dynazzy,NaN,NaN,lmothersole6w@nsw.gov.au,15 Oakridge Court,New York City,NY,10060
249,250,Twitterwire,Technology,Semiconductors,haseef6x@miitbeian.gov.cn,8190 Rusk Point,Seattle,WA,98166

In [8]:
customers.set_index('customer_id', inplace=True)
contracts.set_index('customer_id', inplace=True)
contracts

             contract_id contract_start  contract_term     deposit monthly_amt
customer_id
127                    1      8/17/2019             12  $53,000.00  $11,600.00
119                    2      12/1/2019             22  $77,000.00  $14,600.00
160                    3       5/1/2019             15  $13,000.00  $22,800.00
7                      4      12/8/2019             23  $56,000.00  $11,400.00
144                    5      2/11/2019              7  $21,000.00  $19,800.00
...                  ...            ...            ...         ...         ...
57                   996      11/8/2019             15  $38,000.00   $5,300.00
126                  997      1/13/2019             20  $28,000.00  $16,000.00
89                   998       5/8/2019              7  $73,000.00  $18,400.00
52                   999      3/26/2019              7  $63,000.00  $21,600.00
3                   1000      3/19/2019             16  $23,000.00  $15,700.00

[1000 rows x 5 columns]

In [9]:
df_1 = contracts.join(customers, how='inner') 
df_1

,contract_id,contract_start,contract_term,deposit,monthly_amt,company,sector,industry,email,address,city,state,zip
customer_id,,,,,,,,,,,,,
1,41,5/31/2019,24,"$86,000.00","$11,200.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,358,6/18/2019,13,"$74,000.00","$19,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,400,8/11/2019,19,"$38,000.00","$8,800.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,424,3/13/2019,15,"$77,000.00","$14,300.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
1,438,10/16/2019,22,"$39,000.00","$20,000.00",Bubblebox,Capital Goods,Military/Government/Technical,kyerson0@bizjournals.com,76 Randy Circle,San Diego,CA,92170
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,284,12/28/2019,17,"$78,000.00","$17,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,540,4/17/2019,3,"$65,000.00","$9,800.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,630,11/1/2019,12,"$85,000.00","$12,600.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,862,10/2/2019,21,"$48,000.00","$6,500.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055
200,973,8/21/2019,1,"$47,000.00","$12,300.00",Kwinu,Health Care,Biotechnology: Biological Products (No Diagnos...,nrenak5j@tripadvisor.com,80 Valley Edge Park,Los Angeles,CA,90055